* {
  background: #333;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding-bottom: 500px;
}

/* navbar style */

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
  justify-content: flex-start;
}

.nav-link {
  font-size: 16px;
}

.nav-link.active {
  font-weight: 700;
}

.button-secondary {
  width: 127px;
  height: 30px;
  background-color: #00b2ff;
  border-radius: 10px;
  color: white;
  border: none;
}

#navbar > ul > li > a:hover {
  color: #00b2ff;
}
/* Hero Section */

.hero {
  padding-top: 10rem;
  padding-left: 60%;
  padding-left: 10%;
}

.text-blue {
  color: #00b2ff;
}

/* Our Services */

.our-services {
  text-align: center;
  padding-right: 10%;
}

/* Our Team */
.our-team {
  text-align: center;
}
